<header class="jumbotron" style="padding:2%;">
  <h3 class="text-center">Angular Reactive From Validation</h3>
</header>
<div class="container">
  <form [formGroup]="registerForm" class="was-validated" (ngSubmit)="registerFormSubmit(registerForm.value)">
  <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" id="name" class="form-control" placeholder="Name" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" formControName="emailId" id="email" class="form-control" placeholder="Email" required>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="form-group">
      <label for="mobile">Mobile No:</label>
      <input type="tel" formControName="mobile" id="mobile" class="form-control" placeholder="Mobile" required>
    </div>
  </div>
  </div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <!-- DOB  -->
    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="text" class="form-control" formControlName="dob" id="dob" required placeholder="Date of Birth"
              #dp="bsDatepicker" bsDatepicker [(bsValue)]="myDob" [maxDate]="maxDate"
              [bsConfig]="{showWeekNumbers: false, dateInputFormat: 'DD-MMM-YYYY'}">
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  </div>

  <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="form-group">
    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary"> Register </button>
  </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  </div>
  </form>
</div>


  <!-- <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  </div>

  <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
  </div> -->